<!-- <p id="notice"><%#= notice %></p> -->

<%= link_to "Proceed to Payment", braintree_new_path(@booking) %>
<br>
<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
