<!-- <p id="notice"><%#= notice %></p> -->
<br>

<%= link_to "Proceed to Payment", braintree_new_path(@booking) %> |
<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
