<h1>Edit your profile</h1>

	<%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit "Update Details", class: 'btn btn-outline-dark' %>
    </div>
  <% end %>